#
#  mpb
#
server {
	listen 80;

	root /srv/users/mazepuzzle/mazepuzzlebox/mazepuzzlebox;
	index index.html index.htm;

	server_name mpb.mattvenn.net;

	location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to displaying a 404.
		#try_files $uri $uri/ =404;
		proxy_pass_header Server;
		proxy_set_header Host $http_host;
		proxy_redirect off;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Scheme $scheme;
		proxy_pass http://localhost:8001;
	}

	# deny access to .htaccess files, if Apache's document root
	# concurs with nginx's one
	
	location ~ /\.ht {
		deny all;
	}

	location /external {
		alias /srv/users/mazepuzzle/mazepuzzlebox/external;
	}

	location /mazePNGs {
		alias /srv/users/mazepuzzle/mazepuzzlebox/mazePNGs;
	}

	location /boxes {
		alias /srv/users/mazepuzzle/mazepuzzlebox/boxDXFs;
	}


#	Alias /boxes /srv/users/mazepuzzle/mazepuzzlebox/boxDXFs
#	<Directory /srv/users/mazepuzzle/mazepuzzlebox/boxDXFs/>
#		AddType application/octet-stream .DXF 
#		SetHandler none
#		Order allow,deny
#		Allow from all
#	</Directory>

	# Logfiles
  error_log /srv/users/mazepuzzle/mazepuzzlebox/logs/error.log;
  access_log /srv/users/mazepuzzle/mazepuzzlebox/logs/access.log;
}
