{% extends "base.html" %}
{% block title %}about{% endblock %}
{% block content %}
<div id="content" class="clearfix">
	      <p>
            <ul>
            <li>Maze puzzle box is a project by <a href="http://www.mattvenn.net">Matt Venn</a></li>
            <li>All plans are available free, and the source code for website and DXF generation is here: <a href="https://github.com/mattvenn/mazepuzzlebox">https://github.com/mattvenn/mazepuzzlebox</a></li>
            </ul>
        </p>
        <h1>Thanks</h1>
        <p>
            <ul>
            <li><a href="http://www.londonhackspace.com">London Hackspace</a> for laser cutting and general help</li> 
            <li>Johannes for javascript maze designer</li> 
            <li>Andy for python help</li>
            <li>Alice for UI help</li>
            <li>kellbot for info on the <a href="http://www.kellbot.com/sdxf-python-library-for-dxf/">sdxf library</a></li>
            <li>Open source community for supplying such awesome tools: <a href="http://www.djangoproject.com/">Django</a>, <a href="http://www.python.org/">Python</a> and all the rest</li>
            </ul>
        </p>
</div>
{% endblock %}
