{% extends "base.html" %}
{% block title %}about{% endblock %}
{% block content %}
<div id="content" class="clearfix">
	<div id="about-image"></div>
	<div id="about-text">
		<h1>Maze Puzzle Box created by...</h1>
		<p>...Bristol-based inventor, wild-man and general all-round genius creator-of-worlds, Mr <a href="http://www.mattvenn.net">Matthew Venn</a>. Matt is a member of Bristol, Hackspace. A bit more text bout Matt and his wild-ass project here. All plans are available free, and the source code for website and DXF generation is here: <a href="https://github.com/mattvenn/mazepuzzlebox">https://github.com/mattvenn/mazepuzzlebox</a></p><br>
		<h1>Big thanks to...</h1>
        <p><a href="http://www.londonhackspace.com">London Hackspace</a> for laser cutting and general help, Johannes for javascript maze designer, Andy for python help, Alice for UI help, kellbot for info on the <a href="http://www.kellbot.com/sdxf-python-library-for-dxf/">sdxf library</a>, and the Open source community for supplying such awesome tools: <a href="http://www.djangoproject.com/">Django</a>, <a href="http://www.python.org/">Python</a> and all the rest.</p></div>
</div>
</div><!-- END WRAPPER-->
{% endblock %}
