<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}maze puzzle box{% endblock %}</title>
    <meta name="description" content="design your own unique maze puzzle box!" />
    <meta name="keywords" content="maze, puzzle, box, puzzle box, laser cut, unique"/>
    <link href="/external/style.css" rel="stylesheet" type="text/css" />
    {% block extrahead %}{% endblock %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3510981-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
    <div id="border">
    <div id="header">
    <a href="/">MazePuzzleBox.co.uk</a>
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e0b9b45398260f3"></script>
<!-- AddThis Button END -->
    </div>
    <hr>
        {% if error_message %}
            <div id="error">Error: {{ error_message }}</div>
        {% endif %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <hr>
    <div id="footer">
        {% block footer %}
            <a href="/">Home</a> | <a href="/create">Create</a> | <a href="about">About</a> | <a href="/links">Links</a>
        {% endblock %}
    </div>
<br>
</div>
</body>
</html>
