{% extends "base.html" %}
{% block title %}about{% endblock %}
{% block content %}
<div id="content" class="clearfix"><h1>Get in touch.</h1><p>For further information please drop us a line using the form below.</p>
		
            <div id="c_form">
                <br /><br />
                <form name="contactform" action="/contact" method="post">
				{% csrf_token %}
                    <div id="name_email">
                        <label id="id_name">Name:</label>
                        <input type="text" name="name" value="" id="name" />
                        <label id="id_email">Email:</label>
                        <input type="text" name="email" value="" id="Email" />
                    </div><!-- end name_email -->
                    <div id="message">
                        <label id="id_message">Message:</label>
                        <textarea name="message" rows="8" cols="37"></textarea>

                    </div><!-- end message -->
                    <div id="submit">
                        <input type="submit" />
                    </div><!-- end submit -->
                </form>

</div>
</div><!-- END WRAPPER-->
{% endblock %}
