{% extends "base.html" %}
{% block title %}about{% endblock %}
{% block content %}
<div id="content" class="clearfix"><h1>Get in touch.</h1><p>For further information please drop us a line using the form below.</p>
		
            <div id="contact">
                <form name="contactform" action="/contact" method="post">
				{% csrf_token %}
					<table border="0" cellspacing="5px" cellpadding="20px">
                        <tr>
							<td width="100px"><label id="id_name">Name:</label></td>
							<td width="500px"><input type="text" name="name" value="" id="name" /></td>
						</tr>
                        <tr>
							<td><label id="id_email">Email:</label></td>
                        	<td><input type="text" name="email" value="" id="Email" /></td>
                        <tr>
							<td valign="top"><label id="id_message">Message:</label></td>
                        	<td><textarea name="message" rows="8" cols="37"></textarea></td>
					</table>
			</div>
                <input type="submit" value="Submit."/>
            </form>
			
			

</div><!-- END CONTENT-->
</div><!-- END WRAPPER-->
{% endblock %}
