{% extends "base.html" %}

{% block title %}create a box{% endblock %}
{% block extrahead %}
    <link href="/external/mazebox.css" rel="stylesheet" type="text/css" /> 
    <script src="/external/jquery-1.6.js" type="text/javascript"></script> 
    <script src="/external/mazebox4.coffee" type="text/coffeescript"></script> 
    <script src="/external/coffee-script.js" type="text/javascript"></script> 
{% endblock %}
{% block content %}
<div id="content" class="clearfix">
<h1>Design your maze!</h1>
<p>Use the Maze Editor to create yourself a maze. The more complicated the maze, the harder the box will be to open.</p>
<div class="maze" id="maze"> 
<table> 
  <tbody> 
    <tr> 
      <td></td>
      <td></td>
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="gone no-go"><div class="table-cell"></div></td> 
    </tr> 
    <tr> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="gone no-go"><div class="table-cell"></div></td> 
    </tr> 
    <tr> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="gone no-go"><div class="table-cell"></div></td> 
    </tr> 
    <tr> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="no-go"></td> 
      <td class="gone no-go"><div class="table-cell"></div></td> 
    </tr> 
    <tr> 
      <td></td> 
      <td></td> 
      <td class="end"></td> 
      <td></td> 
      <td></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="no-go"></td> 
      <td class="gone no-go"><div class="table-cell"></div></td> 
    </tr> 
    <tr> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="no-go"></td> 
      <td class="start"><div class="table-cell"></div></td> 
    </tr> 
  </tbody> 
</table> 
</div>
<div id="maze-text"><h2>The Maze Editor.</h2><p>Create a path from the circle to the cross. In order for your maze to work you need a continuous path with no unconnected blocks.</p><br><p>For more tips and terminology on building your maze click <a href="/tips.html">here.</a></div>
</div><!--END CONTENT-->

<div id="validator" class="clearfix">
	<div id="validator-top">
		<h2>Maze Validator.</h2><p>When both checkboxes below are green you may proceed to creating your box.</p>
	</div>
	
	<div id="validator-bottom">
		<div id="path-status" class='bad'><h3>Continuous path.</h3></div>
		<div id="island-status" class='good'><h3>Connected blocks.</h3></div>

			<form action="/create" method="post" name="createmaze">
				{% csrf_token %}
    			<input type="hidden" name="mazejson" id="mazejson" />
    			<input type="submit" value="Create box." name="mazebutton" disabled>
			</form>
		</div>	
		
</div><!--END VALIDATOR-->
{% if box %}
<p> created a new box with id {{ box.id }} </p>
{% endif %}
</div><!-- END WRAPPER-->
{% endblock %}
