{% extends "base.html" %}

{% block title %}create a box{% endblock %}
{% block extrahead %}
    <link href="/external/mazebox.css" rel="stylesheet" type="text/css" /> 
    <script src="/external/jquery-1.6.js" type="text/javascript"></script> 
    <script src="/external/mazebox4.coffee" type="text/coffeescript"></script> 
    <script src="/external/coffee-script.js" type="text/javascript"></script> 
{% endblock %}
{% block content %}
<div id="content" class="clearfix">

<h1>Design your maze!</h1>
<p>The ball starts at the circle, and you create a maze that leads to the cross, you need a continuous path and no unconnected blocks for the maze to work,here are some <a href="/tips.html">tips for designing your maze.</a></p>
<div class="maze" id="maze"> 
<table> 
  <tbody> 
    <tr> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="gone no-go"></td> 
    </tr> 
    <tr> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="gone no-go"></td> 
    </tr> 
    <tr> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="gone no-go"></td> 
    </tr> 
    <tr> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="no-go"></td> 
      <td class="gone no-go"></td> 
    </tr> 
    <tr> 
      <td></td> 
      <td></td> 
      <td class="end"></td> 
      <td></td> 
      <td></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="no-go"></td> 
      <td class="gone no-go"></td> 
    </tr> 
    <tr> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="no-go"></td> 
      <td class="start"></td> 
    </tr> 
  </tbody> 
</table> 
</div>
<div id="maze-text"><a href="#"><h2>Watch the video,</h2><p>then create your own box!</p><br><p>I love it when I get to the stage of a project where I can finesse it! The maze puzzle box is now in its 15th iteration after a year's progressive design improvements. In this update I've improved the looks by removing all the visible cut marks on the top surface.</p></a></div>
</div><!--END CONTENT-->
<div id="validator" class="clearfix">
	<ul><li><h2>Maze Validator.</h2></li><li><p>When both checkboxes below are green you may proceed to creating your box.</p></li></ul>
	<h2 id='path-status' class='bad'>Continuous path</h1> 
<h2 id='island-status' class='good'>Unconnected blocks</h1> 
<!--<p id='json'>json appears here</p>  -->
<form action="/create" method="post" name="createmaze">
{% csrf_token %}
    <input type="hidden" name="mazejson" id="mazejson" />
    <input type="submit" value="create box" name="mazebutton" disabled="disabled"/>
</form></div>
{% if box %}
<p> created a new box with id {{ box.id }} </p>
{% endif %}
{% endblock %}
