{% extends "base.html" %}

{% block title %}create a box{% endblock %}
{% block extrahead %}
    <link href="/external/mazebox.css" rel="stylesheet" type="text/css" /> 
    <script src="/external/jquery-1.6.js" type="text/javascript"></script> 
    <script src="/external/mazebox4.coffee" type="text/coffeescript"></script> 
    <script src="/external/coffee-script.js" type="text/javascript"></script> 
{% endblock %}
{% block content %}
<div id="content" class="clearfix">
<h1>Design your maze!</h1>
<p>Starting at the circle, create a path that leads to the cross. We've started you off below. In order for the maze to work, you need a <a href="/tips.html#continuous-path">continuous path</a> from circle to cross with no <a href="/tips.html#unconnected-blocks">unconnected blocks</a>.</p>
<div class="maze" id="maze"> 
<table> 
  <tbody> 
    <tr> 
      <td></td>
      <td></td>
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="gone no-go"><div class="table-cell"></div></td> 
    </tr> 
    <tr> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="gone no-go"><div class="table-cell"></div></td> 
    </tr> 
    <tr> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="gone no-go"><div class="table-cell"></div></td> 
    </tr> 
    <tr> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="no-go"></td> 
      <td class="gone no-go"><div class="table-cell"></div></td> 
    </tr> 
    <tr> 
      <td></td> 
      <td></td> 
      <td class="end"></td> 
      <td></td> 
      <td></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="no-go"></td> 
      <td class="gone no-go"><div class="table-cell"></div></td> 
    </tr> 
    <tr> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td class="no-go"></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td></td> 
      <td class="no-go"></td> 
      <td class="start"><div class="table-cell"></div></td> 
    </tr> 
  </tbody> 
</table> 
</div>
<div id="maze-text"><h2>Watch the video,</h2><p>then create your own box!</p><br><p>I love it when I get to the stage of a project where I can finesse it! The maze puzzle box is now in its 15th iteration after a year's progressive design improvements. In this update I've improved the looks by removing all the visible cut marks on the top surface.</p></div>
</div><!--END CONTENT-->
<div id="validator" class="clearfix">
	<div id="validator-top">
		<h2>Maze Validator.</h2><p>When both checkboxes below are green you may proceed to creating your box.</p>
	</div>
	
	<div id="validator-bottom">
		<img src="../external/images/validator-x.png"><h3 id='path-status' class='bad'>Continuous path</h3> 
		<img src="../external/images/validator-v.png"><h3 id='island-status' class='good'>Unconnected blocks</h3> 
	</div>
	
		<!--<p id='json'>json appears here</p>  -->
			<form action="/create" method="post" name="createmaze">
				{% csrf_token %}
    			<input type="hidden" name="mazejson" id="mazejson" />
    			<input type="submit" value="create box" name="mazebutton" disabled="disabled"/>
			</form>
		
</div><!--END VALIDATOR-->
{% if box %}
<p> created a new box with id {{ box.id }} </p>
</div><!-- END WRAPPER-->
{% endif %}
{% endblock %}
