{% extends "base.html" %}
{% block title %}box {{ box.id }} details{% endblock %}
{% block extrahead %}
    <link href="/external/mazebox.css" rel="stylesheet" type="text/css" /> 
{% endblock %}
{% block content %}
{% if box %}
<!-- <p> json maze {{ box.maze }} </p> -->
    <div id="maze">
    <table>
    <tbody>
    {% for rows in maze %}
        <tr> 
        {% for cell in rows %}
            <td class="{{ cell }}"></td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
{% endif %}
<ul>
<li> id: {{ box.id }} </li>
<li> date created: {{ box.pub_date }} </li>
<!--
<li> box DXF version : {{ box.version }} </li>
<li> current DXF version : {{ version }} </li>
-->
</ul>
<hr>
{% if version == box.version %}
    <h3>Buy the complete box</h3>
    {% include "paypal_built.html" %}
    <hr>
    <h3>Buy the all the parts to make it yourself</h3>
    {% include "paypal_parts.html" %}
    </tr>
<hr>
<h3>Cut the parts yourself</h3>
<p>To generate the DXF plans for this box, enter your material thickness in mm:</p>
<form action="/{{ box.id }}" method="post">
{% csrf_token %}
    <input type="text" name="thickness" />
    <input type="submit" value="generate plans" />
</form>
{% else %}
<p id="error">New box plans can't be generated because the DXF version is out of date, <a href="/create">make a new box</a>!</p>
{% endif %}

{% if plans %}
<p>Download <a href="{{ plans }}">the plans for material thickness {{thickness}}mm</a></p>
<p>Then follow <a href="http://www.instructables.com/id/maze-puzzle-box/">these instructions</a> to build your box.</p>
{% endif %}
{% endblock %}
