{% extends "base.html" %}
{% block title %}box {{ box.id }} details{% endblock %}
{% block extrahead %}
    <link href="/external/mazebox.css" rel="stylesheet" type="text/css" /> 
{% endblock %}
{% block content %}
<div id="content" class="clearfix">
	<h1> Box id # {{ box.id }} </h1>
	<p> date created: {{ box.pub_date }} </p>
{% if box %}
    <div class="maze">
    <table>
    <tbody>
    {% for rows in maze %}
        <tr> 
        {% for cell in rows %}
            <td class="{{ cell }}"><div class="table-cell"></div></td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
{% endif %}
<div id="maze-text"><h2>Nice one!</h2><p>Now you've created your own maze, you can either buy the box or build one yourself.</p><br><p>To build one yourself, generate the DXF plans and follow the instructions...</div>
{% if version == box.version %}
</div><!--END CONTENT-->
<div id="details-text" class="clearfix">
	<h2>Buy the complete box...</h2><span>{% include "paypal_built.html" %}</span>
<hr>
<h2>...or cut the parts yourself</h2>
<p>To generate the plans for this box, enter your material thickness in mm:</p>
<p><form action="/{{ box.id }}" method="post">
{% csrf_token %}
    <input type="text" name="thickness" />
    <input type="submit" value="generate plans" />
</form></p>
{% else %}
<p id="error">New box plans can't be generated because the DXF version is out of date, <a href="/create">make a new box</a>!</p>
{% endif %}

{% if plans %}
<p>Download <a href="{{ plans }}">the plans for material thickness {{thickness}}mm</a></p>
<p>Download <a href="{{ instructions }}">the instruction card</a></p>
<p>Then follow <a href="http://www.instructables.com/id/maze-puzzle-box/">these instructions</a> to build your box.</p>
{% endif %}
</div>
</div><!-- END WRAPPER-->
{% endblock %}
