{% extends "base.html" %}
{% block title %}index of maze puzzle boxes{% endblock %}
{% block content %}

<p class="intro">
<a href="http://www.youtube.com/watch?v=6EqoSPFPsjg&feature=player_embedded">watch the video</a>, <a href="/create">create your own box</a> or <a href="http://www.instructables.com/id/maze-puzzle-box/">read the instructions</a>
</p>
<table class="indexTable">
    <tr>
    <td class="indexTable">
        
        {% if news %}
            <h3 class="news">Latest news</h3>
            {% for story in news %}
                <a class="news" href="{{ story.url }}">{{ story.title }}</a>
                <p class="news">{{ story.summary }}</p>
            {% endfor %}
        {% endif %}
        <a href="http://www.mattvenn.net/tag/mazepuzzlebox/">older stories</a>
        <hr width=90%>
        {% if boxes %}
            <h3 class="latestboxes">Latest boxes</h3>
            <ul>
            {% for box in boxes.object_list %}
                <li><a class="latestboxes" href="/{{ box.id }}">{{box.id}} : {{ box.pub_date }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}

        <div class="pagination">
                {% if boxes.has_previous %}
                    <a href="?page={{ boxes.previous_page_number }}">previous</a>
                {% endif %}

                    Page {{ boxes.number }} of {{ boxes.paginator.num_pages }}.

                {% if boxes.has_next %}
                    <a href="?page={{ boxes.next_page_number }}">next</a>
                {% endif %}
        </div>

        </td>
        <td>
<a href="http://www.flickr.com/photos/matthewvenn/5536665535/" title="maze puzzle box open by matthewvenn, on Flickr"><img src="http://farm6.static.flickr.com/5299/5536665535_c28b13c7ea.jpg" width="369" height="500" alt="maze puzzle box open"></a>
        </td>
    </tr>
</table>
{% endblock %}

