{% extends "base.html" %}
{% block title %}maze puzzle box{% endblock %}
{% block extrahead %}
    <link href="/external/mazebox.css" rel="stylesheet" type="text/css" /> 
{% endblock %}
{% block content %}
<div id="slider" class="clearfix">
	<div id="main-text"><h1>Welcome to Maze Puzzle Box,</h1><h3>the home of Matt Venn's craziest invention so far...</h3></div>
	<div id="media">   
    	<iframe width="600" height="336" src="http://www.youtube.com/v/HTdaDZDc90g&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
	</div>
	<div id="media-text"><h1>Watch the video,</h1><p>then create your own box!</p><br><p>I love it when I get to the stage of a project where I can finesse it! The maze puzzle box is now in its 15th iteration after a year's progressive design improvements. In this update I've improved the looks by removing all the visible cut marks on the top surface.</p><br><a href="/create"><p>Click here for further details.</p></a></div>
</div>
<div id="content" class="clearfix"><a name="latest-boxes"></a>
        {% if boxes %}
            <h2>Latest maze designs.</h2>
            {% for box in boxes.object_list %}
                <a class="latestboxes" href="/{{ box.id }}">
                    <div class="minimaze">
                    <table>
                    <tbody>
                    {% for rows in box.htmlMaze %}
                        <tr> 
                        {% for cell in rows %}
                            <td class="{{ cell }}"></td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    </div>
                </a> 
            {% endfor %}
        {% endif %}

        <div class="pagination">
                {% if boxes.has_previous %}
                    <a href="?page={{ boxes.previous_page_number }}#latest-boxes"> <<< View previous.</a>
                {% endif %}

                    Page {{ boxes.number }} of {{ boxes.paginator.num_pages }}.

                {% if boxes.has_next %}
                    <a href="?page={{ boxes.next_page_number }}#latest-boxes">View next >>></a>
                {% endif %}
        </div>

<hr>
    <!-- news row -->

        {% if news %}
<div id="news">

            <h1>Latest news.</h1>
            {% for story in news %}
                <p class="news">{{ story.date }}</p>
				<h3><a class="news" href="{{ story.url }}">{{ story.title }}</a></h3>
                <p class="news">{{ story.summary }}</p><br>
            {% endfor %}
        {% endif %}
        <a href="http://www.mattvenn.net/tag/mazepuzzlebox/">View older stories >>></a>
</div>
<aside><h1>Testimonials.</h1><img class="quote" src="../external/images/quotation-mark.png"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p><br><p class="author">John Doe, Bristol</p></aside>
</div><!--END CONTENT-->
</div><!-- END WRAPPER-->
{% endblock %}

