{% extends "base.html" %}
{% block title %}Puzzle Box Links{% endblock %}
{% block content %}
<div id="content" class="clearfix">
        <h1>Links</h1>
        <ul>
            <li><a href="http://cp1237.com/puzzlebox/">Puzzle box fan page</a> all about puzzle boxes</li>
            <li><a href="http://www.cleverwood.com">Clever Wood</a>, a US based puzzle box shop!</li>
            <li><a href="http://www.thepuzzlebox.co.uk">The Puzzle Box</a>, a UK based puzzle box shop!</li>
            <li><a href="http://www.puzzleboxdirect.co.uk">A one stop Puzzle shop</a> selling puzzle boxes and all kinds of other puzzles...</li>
        </ul>
</div>
{% endblock %}
