{% extends "base.html" %}
{% block title %}Puzzle Box Links{% endblock %}
{% block content %}
<div id="content" class="clearfix">
        <h1>Other cool puzzles</h1>
        <ul>
            <li><a href="http://cp1237.com/puzzlebox/">Puzzle box fan page</a> all about puzzle boxes</li>
            <li><a href="http://boingboing.net/2011/10/24/cool-handmade-puzzle-box.html"</a>cool hand made puzzle box</a> via <a href="http://www.boingboing.net">boing boing</a></li>
            <li>An amazing wooden <a href="http://www.kagenschaefer.com/pipeorgandesk.html"> pipe organ puzzle desk</a>. It has a wooden computer that will unlock a draw if you play the correct tune!</li>
        </ul>
</div>
</div><!-- END WRAPPER-->
{% endblock %}
