{% extends "base.html" %}
{% block title %}prices{% endblock %}
{% block content %}
<h3>Escaping the magnet</h3>
<p>
There is a magnet at the start of the maze to prevent the box from accidentally opening. So when opening, the first thing to do is to shake the box to release the ball bearing from the magnet. It's good to have at least 3 blocks in a straight line so that the ball can escape the pull of the magnet. Here are some good examples: <a href="/232">232</a>, <a href="/254">254</a>. Whereas these ones don't give you enough space to escape the pull of the magnet: <a href="/255">255</a>, <a href="/239">239</a>.
</p>
<h3>Simple routes</h3>
Most people will never get close to opening the box, because they won't realise that a shake is needed to start the ball rolling. So even the simplest maze will work fine, and make it easy for you to remember: <a href="/167">167</a> or the more labyrinthine <a href="/175">175</a>.
<p>
<h3>Dead ends</h3>
But if you want to make it even harder, you can start to incorporate choices and dead ends (a real maze). This makes it much harder to solve the maze by luck but also makes it harder for you to learn. Here are some good examples: <a href="/170">170</a> has just a couple of dead ends, while the more fiendish <a href="/254">254</a> has 6.
</p>

{% endblock %}
